

.nav-item>a:hover {
    color: green;
}
.nav-link{
    color: white;
    &:hover{
        color: rgb(172, 169, 169)
    }
}
.route{
    background-color:#007bff;
}

// * {
//     margin:0px;
//     padding:0px;
//     box-sizing:border-box;
//     font-family:sans-serif;
//   }
  
//   #sidebar {
//     position:absolute;
//     top:0px;
//     left:0px;
//     width:200px;
//     height:100%;
//     background:#151719;
//     transition:all 300ms linear;
//   }
//   #sidebar.active {
//     left:-200px;
//   }
//   #sidebar .toggle-btn {
//     position:absolute;
//     left:220px;
//     top:10px;
//   }
//   #sidebar .toggle-btn span {
//     display:block;
//     width:30px;
//     height:5px;
//     background:#151719;
//     margin:5px 0px;
//     cursor:pointer;
//   }
//   #sidebar div.list div.item {
//     padding:15px 10px;
//     border-bottom:1px solid #444;
//     color:#fcfcfc;
//     text-transform:uppercase;
//     font-size:12px;
//   }
  
//   #sidebar div.list div.item a{
//     color:#fcfcfc;
//     text-decoration: none;
//   }
  
//   .nav-link{
//     padding:15px 10px;
//     border-bottom:1px solid #444;
//     color:#fcfcfc;
//     text-transform:uppercase;
//     font-size:12px;
//     color:#fcfcfc;
//     text-decoration: none;
//   }


// Navbar

p {
    cursor: pointer;
    margin: 16px;
    font-size: 25px;
    color: #94bbe9;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 1s ease-in-out;
    position: relative;
  
    &::before {
      content: attr(data-item);
      transition: all 1s ease-in-out;
      color: #0398b3;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 0;
      overflow: hidden;
    }
  
    &:hover {
      &::before {
        width: 100%;
      }
    }
  }

  .navbar{
    background: rgb(4,21,50);
    background: linear-gradient(90deg, rgba(4,21,50,1) 17%, rgba(10,63,153,1) 70%, rgb(17, 116, 161) 100%);
  }
  
  .sidebar{
    height:100vh; 
    position: fixed;
    width: 235px;
    background: rgb(4,21,50);
    background: linear-gradient(90deg, rgba(4,21,50,1) 17%, rgb(4,21,50) 70%, rgb(4,21,50) 100%);
 
  }
  
  .route {
    background: linear-gradient(90deg, rgb(1, 126, 105) 17%, rgb(3, 152, 179) 70%);
    border-radius: 6px;
    }
    .nav-item a{
      color: white;
    }
    .nav-item a:hover {
      color: #94bbe9;
  }
