<div class="container">
  <div>
    <div class="row">
        <div class="col-4">
            <button type="button" class="btn btn-success" (click)="gotoWholsalerPayment()">
                <b>+</b> Payment Details
               </button> 
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-success" (click)="gotoWholsalerOrder()" >
                <b>+</b> Order Details
               </button> 
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                <b>+</b> Add Wholesaler
               </button> 
        </div>
    </div>
      <div class="col-md-6 mt-3">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="search" placeholder="Search Wholesaler by Name">
        </div>
      </div>
      <div class="row tbody">
        <div class="col-lg-4-sm-12" *ngFor="let list of WholsalerNameList | filter:search">
          <div class="container d-flex justify-content-center align-items-center">
            <div class="card mt-3" style="background-color: rgb(196, 185, 207)" (click)="updateWholsalerBalance(list.name)">
              <div class="upper"> <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid"> </div>
              <div class="user text-center">
                <div class="profile"> <img src="../../assets/profile2.jpg" class="rounded-circle" width="80"> </div>
              </div>
              <div class="mt-5 text-center">
                <h4 class="mb-0">{{list.name}}</h4>
                <span class="text-muted d-block mb-2">{{list.number}}</span>
                <span class="text-muted d-block mb-2">{{list.address}}</span> <button
                  class="btn btn-primary btn-sm follow">Edit</button>
                <div class="d-flex justify-content-between align-items-center mt-4 px-4">
                  <div class="stats">
                    <h5 class="mb-0">Total</h5> <span>{{totalAmount}}</span>
                  </div>
                  <div class="stats">
                    <h5 class="mb-0">Paid</h5> <span>{{totalPaid}}</span>
                  </div>
                  <div class="stats">
                    <h5 class="mb-0">Balance</h5> <span>{{totalBalance}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><h3 style="color: blue;">Add Customer</h3></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="saveWholesalerform">
              <div class="example-container d-flex justify-content-center">
                  <mat-form-field appearance="outline">
                      <mat-label>Enter your Name</mat-label>
                      <mat-icon matSuffix>people</mat-icon>
                      <input matInput placeholder="Enter Name" formControlName="name" required>
                      <mat-error *ngIf="saveWholesalerform.get('name').hasError('required')">
                        Name is required 
                      </mat-error>
                    </mat-form-field>
              </div>
              <div class="example-container d-flex justify-content-center">
                  <mat-form-field appearance="outline">
                      <mat-label>Enter your Mobile</mat-label>
                      <mat-icon matSuffix>phone</mat-icon>
                      <input matInput placeholder="Enter Mobile" formControlName="number" required>
                      <mat-error *ngIf="saveWholesalerform.get('number').hasError('required')">
                        Number is required 
                      </mat-error>
                    </mat-form-field>
              </div>
              <div class="example-container d-flex justify-content-center">
                  <mat-form-field appearance="outline">
                      <mat-label>Enter your Address</mat-label>
                      <mat-icon matSuffix>home</mat-icon>
                      <input matInput placeholder="Enter Address" formControlName="address" required>
                      <mat-error *ngIf="saveWholesalerform.get('address').hasError('required')">
                        Address is required 
                      </mat-error>
                    </mat-form-field>
              </div>
          </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addWholesaler()">Save changes</button>
    </div>
  </div>

</div>


