<div class="container">    <div class="row m-3" >
        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
          <div class="search"> <i class="fa fa-search "></i> <input type="text" class="form-control" [(ngModel)]="search"
            placeholder="Search Wholesaler by Name"> 
           </div>
          </div>
           <div class="col-3 col-md-2 col-lg-2 col-xl-2 mt-1">
            <button type="button" class="btn btn-success" (click)="gotoWholsalerPayment()">
                <b>+</b> Payment Details
               </button> 
              
        </div>
        <div class="col-3 col-md-2 col-lg-2 col-xl-2 mt-1">
            <button type="button" class="btn btn-success" (click)="gotoWholsalerOrder()" >
                <b>+</b> Order Details
               </button> 
        </div>
        <div class="col-3 col-md-2 col-lg-2 col-xl-2 mt-1">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                <b>+</b> Add Wholesaler
               </button> 
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <i class="material-icons-two-tone pr-3">list_alt</i>
              Grid View
            </ng-template>  
            <div class="row tbody ml-3 mt-3" >
              <div class="col-lg-4 col-sm-12" *ngFor="let list of WholsalerNameList  | filter:search let i= index">
                <div class="m-b-20">
                  <div class="card border-apply"(click)="updateWholsalerBalance(list.name)">
                  <div class="contact-grid" >
                    <div class="profile-header l-bg-purple-dark">
                      <div class="user-name">{{list.name}}</div>
                      <div class="name-center">Mathematics</div>
                    </div>
                    <img src="../../assets/prof3.jpg" class="user-img" alt="">
                    <p>
                      {{list.address}}
                      <br />Pune
                    </p>
                    <div>
                      <span class="phone">
                        <i class="material-icons">phone</i>{{list.number}}</span>
                    </div>
                    <div class="profile-userbuttons">
                      <button class="btn btn-primary">Edit</button>
                    </div>
                    <div class="d-flex justify-content-between align-items-center m-2 px-4">
                      <div class="stats">
                        <h5 class="mb-0">Total</h5> <span>{{totalAmount}}</span>
                      </div>
                      <div class="stats">
                        <h5 class="mb-0">Paid</h5> <span>{{totalPaid}}</span>
                      </div>
                      <div class="stats">
                        <h5 class="mb-0">Balance</h5> <span>{{totalBalance}}</span>
                      </div>
                  </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <i class="material-icons-two-tone pr-3">list_alt</i>
              List View
            </ng-template>  
            <mat-card>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Address</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of WholsalerNameList | filter:search let i= index">
                  <td>{{item.name}}</td>
                  <td>{{item.number}}</td>
                  <td>{{item.address}}</td>
                  <td><button mat-icon-button color="accent" class="btn-tbl-edit"
                    >
                     <mat-icon aria-label="Edit" class="col-white">edit
                     </mat-icon>
                   </button></td>
                   <td> <button mat-icon-button color="accent" class="btn-tbl-delete"
                    >
                     <mat-icon aria-label="Delete" class="col-white">delete
                     </mat-icon>
                   </button></td>
                </tr>
              </tbody>
            </table>
          </mat-card>
            </mat-tab>
            </mat-tab-group>
            </div>
            </div>
          </div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><h3 style="color: blue;">Add Customer</h3></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="saveWholesalerform">
              <div class="example-container d-flex justify-content-center">
                  <mat-form-field appearance="outline">
                      <mat-label>Enter your Name</mat-label>
                      <mat-icon matSuffix>people</mat-icon>
                      <input matInput placeholder="Enter Name" formControlName="name" required>
                      <mat-error *ngIf="saveWholesalerform.get('name').hasError('required')">
                        Name is required 
                      </mat-error>
                    </mat-form-field>
              </div>
              <div class="example-container d-flex justify-content-center">
                  <mat-form-field appearance="outline">
                      <mat-label>Enter your Mobile</mat-label>
                      <mat-icon matSuffix>phone</mat-icon>
                      <input matInput placeholder="Enter Mobile" formControlName="number" required>
                      <mat-error *ngIf="saveWholesalerform.get('number').hasError('required')">
                        Number is required 
                      </mat-error>
                    </mat-form-field>
              </div>
              <div class="example-container d-flex justify-content-center">
                  <mat-form-field appearance="outline">
                      <mat-label>Enter your Address</mat-label>
                      <mat-icon matSuffix>home</mat-icon>
                      <input matInput placeholder="Enter Address" formControlName="address" required>
                      <mat-error *ngIf="saveWholesalerform.get('address').hasError('required')">
                        Address is required 
                      </mat-error>
                    </mat-form-field>
              </div>
          </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addWholesaler()">Save changes</button>
    </div>
  </div>

</div>
</div>


