

<div class="container">
    <div class="brand-logo"></div>
    <div class="brand-title">Aarshiya chicken center</div>
    <form [formGroup]="forms">
    <div class="inputs">
      <label>EMAIL</label>
      <input type="email" placeholder="example@test.com" formControlName="email">
      <label>PASSWORD</label>
      <input type="password" placeholder="Min 6 charaters long" formControlName="password">
      <button type="submit" (click)="login()">LOGIN</button>
    </div>
</form>
  </div>



  