<div class="row">
    <div class="col-md-4 mt-3">
       <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Select Name</mat-label>
        <mat-select [(ngModel)]="filterTerm" (selectionChange)="search()" >
          <mat-option *ngFor="let name of nameOfwholsaler" [value]="name.name">
            {{name.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
       </div>
       <div class="col-md-4 mt-3">
          <div class="form-group">
            <input  type="date" class="form-control" style="height: 54px; width: 204px;" [(ngModel)]="searchByDate"  placeholder="Search Wholesaler by Date">
          </div>
        </div>
        <div class="col-md-4 mt-3">
          <button class="btn btn-primary py-2" (click)="showallOrder()">Show All Customers Order</button>
 
        </div>
 </div>
<table class="table table-stripped" *ngIf="showDatatable">
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Product Name</th>
        <th>Weight</th>
        <th>Rate</th>
        <th>Total</th>
        <th>Paid</th>
        <th>Balance</th>
    </tr>
    <tr *ngFor="let detail of orderOfwholsaler |filter:searchByDate |filter:filterTerm">
      <td>{{detail.date}}</td>
      <td>{{detail.name}}</td>
      <td>{{detail.pname}}</td>
      <td>{{detail.Weight}}</td>
      <td>{{detail.Rate}}</td>
      <td>{{detail.total}}</td>
      <td>{{detail.Paid}}</td>
      <td>{{detail.Balance}}</td>



    </tr>
</table>