<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Select Name Of Wholesaler</mat-label>
                <mat-select [(ngModel)]="searchbyName" (selectionChange)="search()" >
                  <mat-option *ngFor="let name of nameOfWholsaler" [value]="name.name">
                    {{name.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          <!-- <input type="text" class="form-control" [(ngModel)]="searchbyName" placeholder="Search Wholsaler by Name"> -->
        </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="form-group">
              <input  type="date" class="form-control" style="height: 54px; width: 204px;" [(ngModel)]="searchByDate" (ngModelChange)="search()" placeholder="Search Wholesaler by Date">
            </div>
          </div>
          <div class="col-md-4 mt-3">
            <button class="btn btn-primary py-2" (click)="showallOrder()">Show All Wholsaler Payment</button>
    
          </div>
</div>

<div class="card" id="htmlData">
    <table class="table table-hover" *ngIf="showDatatable">
        <thead>
            <tr class="thead-light">
                <th>Date</th>
                <th>Name</th>
                <th>Cash Amount</th>
                <th>Cheque Amount</th>
                <th>Cheque Number</th>
            </tr>
        </thead>
         
        <tr *ngFor="let payment of WholesalerPaymentList | filter:searchbyName | filter:searchByDate">
            <th>{{payment.date}}</th>
            <th>{{payment.name}}</th>
            <th>{{payment.cash}}</th>
            <th>{{payment.cheque}}</th>
            <th>{{payment.Chequeno}}</th>
        </tr>
    </table>
</div>
<div class="d-flex justify-content-center" *ngIf="showDatatable">
  <button class="btn btn-primary" (click)="openPDF()">Download PDF</button>
</div>
