<div class="container">
    <form [formGroup]="customerpaymentform">


        <div class="row">
            <div class="col-4">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Invoice For</mat-label>
                    <mat-select (selectionChange)="onSelectType($event)">
                        <mat-option value="Compesation of Customer">
                            Invoice of Customer
                        </mat-option>
                        <mat-option value="Compesation of wholesaler">
                            Invoice of wholesaler
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field appearance="outline" *ngIf="isCustomerCompesation">
                    <mat-label>Select Customer</mat-label>
                    <mat-select (selectionChange)="selectedCustomerDetail($event)">
                        <mat-option *ngFor="let name of data" [value]="name">
                            {{name.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="col-4">
                    <mat-form-field appearance="outline" *ngIf="isWholsalerCompesation">
                        <mat-label>Select Wholesaler</mat-label>
                        <mat-select (selectionChange)="selectedWholsalerDetail($event)">
                            <mat-option *ngFor="let name of wholsalerName" [value]="name">
                                {{name.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row invoice row-printable  d-flex justify-content-center " id="htmlData"
                *ngIf="showCustomerInvoice">
                <div class="col-md-10">
                    <!-- col-lg-12 start here -->
                    <div class="panel panel-default plain" id="dash_0">
                        <!-- Start .panel -->
                        <div class="panel-body p30">
                            <div class="row">
                                <!-- Start .row -->
                                <div class="col-lg-6">
                                    <!-- col-lg-6 start here -->
                                    <div class="invoice-logo"><img width="100" src="../../assets/logo.png"
                                            alt="Invoice logo"></div>
                                </div>
                                <!-- col-lg-6 end here -->
                                <div class="col-lg-6">
                                    <!-- col-lg-6 start here -->
                                    <div class="invoice-from">
                                        <ul class="list-unstyled text-right">
                                            <li>AArshiya Chicken center</li>
                                            <li>Sinhgad Rd, dandekar pool </li>
                                            <li>municipal Colony, pune</li>
                                            <li>Maharashtra 411030
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- col-lg-6 end here -->
                                <div class="col-lg-12">
                                    <!-- col-lg-12 start here -->
                                    <div class="invoice-details mt25">
                                        <div class="well">
                                            <ul class="list-unstyled mb0">
                                                <li><strong>Invoice</strong> #{{selectedCustomer?.id}}</li>
                                                <li><strong>Invoice Date:</strong> {{todayDate}}
                                                </li>
                                                <li><strong>Status:</strong> <span
                                                        class="label label-danger">{{status}}</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="invoice-to mt25">
                                        <ul class="list-unstyled">
                                            <li><strong>Invoiced To</strong></li>
                                            <li>{{selectedCustomer?.name}}</li>
                                            <li>{{selectedCustomer?.address}}</li>
                                            <li>{{selectedCustomer?.phone}}</li>
                                        </ul>
                                    </div>
                                    <div class="invoice-items">
                                        <div class="table-responsive" style="overflow: hidden; outline: none;"
                                            tabindex="0">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="per70 text-center">Payment Mode</th>
                                                        <th class="per5 text-center">Payment Mode</th>
                                                        <th class="per25 text-center">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1024MB Cloud 2.0 Server - elisium.dynamic.com (12/04/2014 -
                                                            01/03/2015)</td>
                                                        <td class="text-center">Cash</td>
                                                        <td class="text-center"><input matInput formControlName="cash"
                                                                [(ngModel)]="todayPaid"
                                                                (ngModelChange)="totalCstomerBalance()"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Logo design</td>
                                                        <td class="text-center">Cheque</td>
                                                        <td class="text-center"><input matInput
                                                                formControlName="cheque"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Backup - 1024MB Cloud 2.0 Server - elisium.dynamic.com</td>
                                                        <td class="text-center">Cheque No</td>
                                                        <td class="text-center"><input matInput
                                                                formControlName="Chequeno"></td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th colspan="2" class="text-right">Previous Balance: </th>
                                                        <th class="text-center">{{customerBalance}}</th>

                                                    </tr>
                                                    <!-- <tr>
                                                <th colspan="2" class="text-right">20% VAT:</th>
                                                <th class="text-center">$47.40 USD</th>
                                            </tr> -->
                                                    <tr>
                                                        <th colspan="2" class="text-right">Today Paid:</th>
                                                        <th class="text-center">{{todayPaid}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="2" class="text-right">Total Balance:</th>
                                                        <th class="text-center">{{Customertotal}}</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="invoice-footer mt25">
                                        <p class="text-center">Generated on {{currentDate}} <a href="#"
                                                class="btn btn-default ml15"></a>
                                        </p>
                                        <div class="d-flex justify-content-center">
                                            <button class="btn btn primary" (click)="submitCustomerPayment()">submit</button>
                                        </div>
                                       
                                    </div>
                                </div>
                                <!-- col-lg-12 end here -->
                            </div>
                            <!-- End .row -->
                        </div>
                    </div>
                    <!-- End .panel -->
                </div>
                <!-- col-lg-12 end here -->
            </div>
        </div>
    </form>
</div>



<form [formGroup]="wholsalerpayment">

    <div class="row invoice row-printable  d-flex justify-content-center " id="htmlData" *ngIf="showWholsalerInvoice">
        <div class="col-md-10">
            <!-- col-lg-12 start here -->
            <div class="panel panel-default plain" id="dash_0">
                <!-- Start .panel -->
                <div class="panel-body p30">
                    <div class="row">
                        <!-- Start .row -->
                        <div class="col-lg-6">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-logo"><img width="100" src="../../assets/logo.png" alt="Invoice logo">
                            </div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-6">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-from">
                                <ul class="list-unstyled text-right">
                                    <li>AArshiya Chicken center</li>
                                    <li>Sinhgad Rd, dandekar pool </li>
                                    <li>municipal Colony, pune</li>
                                    <li>Maharashtra 411030
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-12">
                            <!-- col-lg-12 start here -->
                            <div class="invoice-details mt25">
                                <div class="well">
                                    <ul class="list-unstyled mb0">
                                        <li><strong>Invoice</strong> #{{selectedWholsaler?.id}}</li>
                                        <li><strong>Invoice Date:</strong> {{currentDate }}</li>
                                        <li><strong>Status:</strong> <span class="label label-danger">{{status}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="invoice-to mt25">
                                <ul class="list-unstyled">
                                    <li><strong>Invoiced To</strong></li>
                                    <li>{{selectedWholsaler?.name}}</li>
                                    <li>{{selectedWholsaler?.address}}</li>
                                    <li>{{selectedWholsaler?.number}}</li>
                                </ul>
                            </div>
                            <div class="invoice-items">
                                <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="per70 text-center">Payment Mode</th>
                                                <th class="per5 text-center">Payment Mode</th>
                                                <th class="per25 text-center">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1024MB Cloud 2.0 Server - elisium.dynamic.com (12/04/2014 -
                                                    01/03/2015)</td>
                                                <td class="text-center">Cash</td>
                                                <td class="text-center"><input matInput formArrayName="cash"
                                                        [(ngModel)]="todayWholsalerPaid"
                                                        (ngModelChange)="caltotalWholsalerBalance()"></td>
                                            </tr>
                                            <tr>
                                                <td>Logo design</td>
                                                <td class="text-center">Cheque</td>
                                                <td class="text-center"><input matInput formArrayName="cheque"></td>
                                            </tr>
                                            <tr>
                                                <td>Backup - 1024MB Cloud 2.0 Server - elisium.dynamic.com</td>
                                                <td class="text-center">Cheque No</td>
                                                <td class="text-center"><input matInput formArrayName="Chequeno"></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2" class="text-right">Previous Balance: </th>
                                                <th class="text-center">{{wholsalerBalance}}</th>

                                            </tr>
                                            <!-- <tr>
                                                    <th colspan="2" class="text-right">20% VAT:</th>
                                                    <th class="text-center">$47.40 USD</th>
                                                </tr> -->
                                            <tr>
                                                <th colspan="2" class="text-right">Today Paid:</th>
                                                <th class="text-center">{{todayWholsalerPaid}}</th>
                                            </tr>
                                            <tr>
                                                <th colspan="2" class="text-right">Total Balance:</th>
                                                <th class="text-center">{{WholsalerTotal}}</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="invoice-footer mt25">
                                <p class="text-center">Generated on Monday, October 08th, 2015 <a href="#"
                                        class="btn btn-default ml15"><i class="fa fa-print mr5"></i> Print</a></p>
                                <button (click)="submitwholsalerPayment()">submit</button>
                            </div>
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                    <!-- End .row -->
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
    </div>
</form>