<div class="container" >
    <h3 mat-dialog-title>Are you sure?</h3>
    <div mat-dialog-content>
      <ul class="clearfix">
        <li>
          <p><span class="font-weight-normal"> Name: </span>{{data.name}}</p>
        </li>
        
        <li>
          <p><span class="font-weight-normal"> Email: </span>{{ data.phone }}</p>
        </li>
        <li>
          <p>
            <span class="font-weight-normal">Mobile: </span>{{data.address}}
          </p>
        </li>
      </ul>
    </div>
    <div mat-dialog-actions class="mb-1">
        <div class="row">
        <div class="col-4">
            <button class="btn btn-danger" (click)="deleteLead($event, data)">
                Delete
              </button>
            </div>
            <div class="col-4">
                <button class="btn btn-light mr-5" (click)="onNoClick()" >Cancel</button>

            </div>
    </div>
</div>
  </div>

  


  