/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; ;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f0f3fb;}

.snackbar-success {
  background-color: rgba(24, 206, 15, 0.8);
  color: #ffffff;
}

.snackbar-info {
  background-color: rgba(44, 168, 255, 0.8);
  color: #ffffff;
}

.snackbar-warning {
  background-color: rgba(255, 230, 0, 0.8);
  color: #ffffff;
}

.snackbar-danger {
  background-color: rgba(255, 0, 0, 0.8);
  color: #ffffff;
}